|название 
br
input#name(name='name', type='text')
br
|жанр
br
input#genre(name='genre', type='text')
br
|страна
br
input#country(name='country', type='text')
br
|возрастное ограничение
br
input#age_limit(name='age_limit', type='text')
br
|сюжет
br
textarea#plot(name='plot', type='text')
br
|дата релиза в мире
br
input#release_date(name='release_date', type='text')
br
|дата релиза в Бел
br
input#release_bel(name='release_bel', type='text')
br
|дата релиза в Росс
br
input#release_rus(name='release_rus', type='text')
br
|в ролях
br
input#in_roles(name='in_roles', type='text')
br
|режиссер
br
input#director(name='director', type='text')
br
|превью
br
input#file(name='file', type='file')
br
      